#video-info {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

#video-info-video{
    border: solid 2px red;
    width: 55%;
    margin-top: 2%;
    border-radius: 1.2%;
}