#video-info {
    position: fixed;
    transform: translate3d(0,0,0);
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#video-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    overscroll-behavior: contain;
    -ms-overflow-style: none;
    animation-name: fade-in;
    animation-duration: 0.5s;
}

#video-info-video {
    width: 850px;
    margin-top: 35px;
    margin-left: 10px;
    margin-right: 10px;
    height: 110vh;
    border-radius : 8px 8px 0 0;
    background-color: var(--bg-color);
    animation-name: pop-out;
    animation-duration: 0.5s;
}

#video-info-container::-webkit-scrollbar {
    display: none;
}

#video-info-info {
    position: relative;
    margin: 0;
    display: flex;
    gap: 5%;
    background-color: var(--bg-color);
}

#video-info-gradient{
    position: absolute;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0) 0%, 
        rgba(20, 20, 20, 0.5) 50%,
        rgba(20, 20, 20) 90%,
        rgba(20, 20, 20) 100%
    );
    height: 200px;
    width: 100%;
    top: -200px;
    z-index: 2;
}

#video-info-left {
    z-index: 5;
    flex: 2;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#video-info-left-general {
    color: var(--color-light-gray);
}

#video-info-left-general span {
    color: var(--color-light-green);
    font-family: netflix-sans-bold;
}

#video-info-left-rated {
    border: var(--color-light-gray) 1px solid;
    text-align: center;
    font-size: 14px;
    width: 15%;
}

#video-info-left-desc {
    font-size: 16px;
    margin-top: 10px;
    line-height: 26px;
}

#video-info-right {
    z-index: 5;
    flex: 1;
    margin-right: 5%;
}

#video-info-right-genre {
    font-size: 14px;
}

#video-info-right-genre span {
    color: var(--text-color-gray)
}

/* Screen resizing media queries */  
@media (max-width: 800px) {
    #video-info {
        font-size: 2vw;
    }

    #video-info-left-desc {
        font-size: 2vw;
    }

    #video-info-left-rated {
        font-size: 1.5vw;
        width: 20%;
        padding: 2px;
    }
}