#profile-menu{
    width: 220px;
    font-size: smaller;
    text-align: end;
}

#profile-menu-triangle-container{  
    height: 16px;
}

#profile-menu-triangle{
    height: 20px;
    transform: rotate(270deg);
    margin-right: 20px;
}

#profile-menu-main{
    background: rgba(0, 0, 0, 0.9);
    border: solid 1px rgba(128, 128, 128, 0.3);
}

.profile-menu-item{
    display: flex;
    align-items: center;
}

.profile-menu-tag{
    margin-left: 5px;
}

.profile-menu-tag:hover{
    text-decoration: underline;
}

.profile-menu-img{
    height: 24px;
    width: 24px;
    margin: 10px;
    border-radius: 3px;
}

.profile-menu-sign-out{
    text-align: center;
    padding: 15px;
    border-top: solid 1px rgba(128, 128, 128, 0.5);
}

.profile-menu-sign-out:hover{
    text-decoration: underline;   
}