#video-meta{
    position: absolute;
    width: 100%;
    height: 70%;
    top:0;
    display: flex;
    align-items: flex-end;
}

#video-meta-left{
    width: 68%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: var(--margin-value);
    justify-content: flex-end;
}

#video-logo{
    height: 75%;
    display: flex;
    align-items: flex-end;
}

#video-logo-img{
    width: 100%;
    transition: 1s;
}

#video-desc{
    height: 15%;
    font-size: 1.2vw;
    text-shadow: 0.5px 0.5px 5px #000000b7;
    overflow: hidden;
    transition: 1s;
    margin-bottom: 1%;

}

#video-more-info {
    height: 10%;
}

.video-play-btn {
    margin-right: 1%;
    width: 25%;
    height: 82% !important;
}

.video-info-btn {
    margin-left: 1%;
    width: 30%;
    height: 85% !important;
}

#video-meta-right{
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: flex-end;
}


#video-rated {
    width: 12%;
    background: rgba(50, 50, 50, 0.5);
    display: flex;
    align-items: center;
    padding: 2%;
    margin-left: 1%;
    font-size: 1vw;
    border-left: solid 3px white; 
}

#video-control {
    width: 42px;
    height: 42px;
    margin-right: 1%;
    border: solid 1px white;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-control-img {
    height: 60%;
}

#video-control:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#video-control:active {
    background-color: rgba(255, 255, 255, 0.5);
}

/* Screen resizing media queries */

@media (max-width: 1300px) {
    #video-control {
        width: 35px;
        height: 35px;
    }
}
  
@media (max-width: 1000px) {
    #video-control {
        width: 30px;
        height: 30px;
    }
}
  
@media (max-width: 800px) {
    #video-control {
        width: 20px;
        height: 20px;
    }

    .video-play-btn {
        width: 30%;
    }

    .video-info-btn {
        width: 35%;
    }
}