#profile-box{
    cursor: pointer;
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-box-img{
    aspect-ratio: 1;
    width: 100%;
    border-radius: 3.5px;
    box-sizing: border-box;
    margin-bottom: 8px;
}

#profile-box:hover > #profile-box-img {
    border: solid 3.5px var(--color-light-gray);
}

#profile-box-name{
    color: var(--text-color-gray);
    text-align: center;
    font-size: 1.3vw;
}

#profile-box:hover > #profile-box-name {
    color: var(--color-light-gray);
}