#video-info-meta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#video-info-meta-top {
    height: 13%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#video-info-meta-close {
    aspect-ratio: 1;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin-right: 1.5%;
    background-color: var(--bg-color);
    cursor: pointer;
}
#video-info-meta-close-img{
    height: 45%;
}

#video-info-meta-center {
    height: 65%;
    display: flex;
    align-items: flex-end;
}

#video-info-meta-logo{
    height: 65%;
    margin-left: 5%;
}

#video-info-meta-logo-img{
    height: 100%;
}

#video-info-meta-bottom {
    height: 20%;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
}

#video-info-meta-vol {
    border: solid 1.2px white;
    height: 40%;
    aspect-ratio: 1;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    background-color: transparent;
    margin-right: 6%;
    cursor: pointer;
    transition: 0.5s;
}

#video-info-meta-vol:hover {
    opacity: 1;
}

#video-info-meta-vol:active{
    background-color: var(--text-color-gray);
}

#video-info-meta-vol-img {
    height: 55%;
}

#video-info-meta-play {
    width: 50%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    align-items: flex-start;
}

.video-info-meta-btn {
    width: 32% !important; 
    height: 45% !important;
}
