#carousel-header {
    margin: 30px calc(var(--box-gap) + var(--margin-value)) 10px calc(var(--box-gap) + var(--margin-value));
    display: flex;
    align-items: center;
}

#carousel-title {
    font-size: 1.35vw;
    font-family: netflix-sans;
    font-weight: 600;
}

#carousel-menu-container {
    width: 100%;
    justify-content: center;
    overflow-y: visible;
    overflow-x: clip;
    /* position: relative; */
    display: flex;
}

#carousel-menu {
    display: flex;
    transition: transform 0.8s ease-in-out;
    transform: translateX(calc(var(--initial-index) * -100%)); 
}

#carousel-menu-box-left {
    min-width: calc(var(--initial-index) * 100%);
}

#carousel-menu-left {
    visibility: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#carousel-menu-right {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#carousel-menu-left,
#carousel-menu-right {
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    min-width: var(--margin-value);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#carousel-menu-left img {
    display: none;
}

#carousel-menu-left img,
#carousel-menu-right img {
    width: 20px;
    height: 20px;
    transition: 0.2s;
    visibility: hidden;
}

#carousel-menu-left:hover,
#carousel-menu-right:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

#carousel-menu-left:hover img,
#carousel-menu-right:hover img {
    transform: scale(1.3);
}

#carousel-menu-container:hover .side-bar-icon {
    visibility: visible;
}