#section-header {
    margin: 30px calc(var(--box-gap) + var(--margin-value)) 10px calc(var(--box-gap) + var(--margin-value));
    display: flex;
    align-items: center;
}

#section-title {
    font-size: 1.35vw;
    font-family: netflix-sans;
    font-weight: 600;
}

#section-menu-container {
    width: 100%;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
    display: flex;
}

#section-menu {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

#section-menu-box-left {
    min-width: 0;
    transition-delay: 0.5s;
    border: 1px solid red;
}

#section-menu-box-right {
    border: 1px solid red;
    float: right;
    /* min-width: 100%; */
}


#section-menu-left {
    background-color: rgba(0, 255, 255, 0.25);
    z-index: 10;
    min-width: var(--margin-value);
    /* position: absolute;
    left: 0px;
    height: 100%; */
}

#section-menu-right {
    min-width: var(--margin-value);
    z-index: 10;
    background-color: rgba(0, 255, 255, 0.25);
    /* position: absolute;
    right: 0px;
    top: 0px;
    height: 100%; */
}