#section-header{
    margin-left: var(--margin-value);
    font-size: 1.35vw;
    font-family: netflix-sans;
    font-weight: 600;
    margin-bottom: 15px;
}

#section-menu {
    display: flex;
    gap: 0.5%;
    margin-left: var(--margin-value);
    border: 1px solid red;
}