.nav-bar{
    height: 68px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    width: 100%;
    position: fixed;
    padding-right: var(--margin-value);
    display: flex;
    z-index: 10;
}

.nav-bar-before{
    transition: 1s;
}

.nav-bar-scrolled{
    background-color: var(--bg-color);
    transition: 0.2s;
}

#nav-bar-left{
    width: 100%;
    flex: 1;
    margin-left: var(--margin-value);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#nav-bar-center{
    width: 100%;
    flex: 4.5;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}

#nav-bar-right{
    width: 100%;
    flex: 4;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#nav-bar-logo{
    width: 67%;
    cursor: pointer;
}

.nav-bar-link{
    background: transparent;
    color: var(--color-light-gray);
    border: none;
    font-size: 89%;
    cursor: pointer;
    transition: 0.5s;
    margin-right: 1%;
}

.nav-bar-link:hover{
    color: var(--text-color-gray);
}

.nav-bar-link:focus{
    color: var(--text-color);
    font-weight: bold;
}

.nav-bar-right-icon{
    height: 33%;
    margin-right: 22px;
    cursor: pointer;
}

#nav-bar-right-pofile{
    display: flex;
    align-items: center;
    cursor: pointer;
}

#nav-bar-profile-img-container{
    position: relative;
}

#nav-bar-profile-menu {
    visibility: hidden;
    position: absolute;
    right: -50%;
    margin-top: 2px;
    transition: 0.2s;
    opacity: 0;
}

#nav-bar-right-pofile:hover #nav-bar-profile-menu {
    opacity: 1;
    visibility: visible;
}

.profile-img{
    height: 32px;
    width: 32px;
    border-radius: 4px;
}

#profile-selector{
    height: 15px;
    transform: rotate(90deg);
    margin: 15%;
    transition: 0.4s;
}

#nav-bar-right-pofile:hover #profile-selector{
    transform: rotate(270deg);
}


#nav-bar-search-container {
    display: flex;
    align-items: center;
    height: 48%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 22px;
    border: solid white 1px;
    width: 50%;
    animation-name: right-to-left;
    animation-duration: 0.5s;
}

#nav-bar-search-input-icon{
    height: 60%;
    margin: 7px;
}

#nav-bar-search-input{
    outline: 0;
    border: 0;
    background-color: transparent;
    font-size: 95%;
    caret-color: white;
    color: white;
    animation-name: right-to-left;
    animation-duration: 0.5s;
}
