:root{
  --bg-color : #141414;
  --text-color: #FFFFFF;
  --text-color-secondary: #54B9C5;
  --text-color-gray: #808080;
  --color-light-gray: #cfcfcf;
}

body {
  margin: 0;
  font-family: netflix-sans;
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  font-family: netflix-sans;
}

input {
  font-family: netflix-sans;
}
