#section-video {
    position: relative;
    border: solid 1px red;
    height: 20%;
    width: 15%;
}

#section-video-poster {
    border-radius: inherit;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 3.5%;
}