#preview-video {
    position: relative;
    width: 100%;
    border-radius: inherit;
}

#preview-video-video {
    border: none;
    width: 100%;
    object-fit: fill;
    animation-name: fade-in;
    animation-duration: 0.5s;
    border-radius: inherit;
}

#preview-video-video:focus {
    outline: 0;
}

#preview-video-img{
    width: 100%;
    object-fit: fill;
    animation-name: fade-in;
    animation-duration: 0.5s;
    border-radius: inherit;
}